:root { 
  --bg-1: #f8b595; 
  --bg-2: #f6727fe9; 
  --bg-3: #c06c84f3; 
  --bg-4: #6c5b7cf3; 
}

*, *::after, *::before{
  box-sizing: border-box;
}

body{
  display: flex;
  flex-direction: column;
  position: absolute;
  margin: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 400;
  color: rgb(255, 255, 255); 
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -50;
  background-image: url(/assets/background-map.png);
  background-repeat: repeat;
  background-size: 100%;
  opacity: 0.2; /* Adjust the opacity as needed */
}

header{
  background-color: var(--bg-4);
  position:fixed;
  display: flex;
  flex-wrap: wrap; 
  width: 100%;
  z-index: 250;
  height: 70px;
}

.logo-png {
  filter: invert(100%);
  height: 100%;
}

.breaking-news-container{
  display: flex;
  margin-top: 70px;
  background-color: var(--bg-2);
  position: relative;
}
.big-heading{
  background-color: red;
  position: absolute;
  align-items: center;
  display: flex;
  padding:.5em 1em;
  height: 100%;
  width: 10%;
  text-transform: uppercase;
  font-size: larger;
  font-weight: bold;
  z-index: 200;
}
.text-update ul{
  display: flex;
  list-style: none;
  flex-direction: row;
  animation: scroll 22s infinite linear;
}
.text-update ul li{
  white-space:nowrap;
  font-style: italic;
  font-weight: bold;
  font-size: larger;
  color: white;
  padding: 0px 24px;
  position: relative;
}
#bar-not-working{
  display:none;
}
.text-update ul li::after{
  content:"";
  width: 2px;
  height: 100%;
  background-color: white;
  position: absolute;
  left: 0;
}
.text-update ul li:first-child::after{
  display: none;
}
@keyframes scroll {
  from{
    transform: translateX(100%);
  }
  to{
    transform: translateX(-1270px);
  }
}
footer {
  display: flex;
  direction: row;
  background-color:var(--bg-4);
  color: #fff;
  text-align: center;
}

.footer-content {
  max-width: 800px;
  margin: 0 auto;
}

.contact-links a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
}

.contact-links a:hover {
  text-decoration: none;
  color: var(--bg-2);
}
img{
  border-radius: 10px;
}

/* --------------------------------MOBILE SCREENS--------------------------------- */
@media only screen and (max-width: 767px) {
  header{
    text-align: center;
    display: inline;
  }
  .logo-png{
    position: absolute;
    right: 0;
    padding-right: 30px;
  }
  .nav-toggle{
    display: none;
  }
  .nav-toggle-label{
    position: absolute;
    top:0;
    left:0;
    margin-left: 1em;
    height: 100%;
    display: flex;
    align-items: center;
  }
  .nav-toggle-label span,
  .nav-toggle-label span::before,
  .nav-toggle-label span::after{
    display: block;
    background: white;
    height: 2px;
    width: 2em;
    border-radius: 2px;
    position: relative;
  }
  .nav-toggle-label span::before,
  .nav-toggle-label span::after{
    content: "";
    position:absolute;
  }
  .nav-toggle-label span::before{
    bottom: 8px;
  }
  .nav-toggle-label span::after{
    top: 8px;
  }
  nav{
    position: absolute;
    background-color: var(--bg-4);
    text-align: left;
    top: 100%;
    left: 0;
    width: 100%;
    display: none;
    /* transform: scale(1,0);
    transform-origin: top;
    transition: 250ms ease-in-out; */
  }
  nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
  }
  nav li{
    margin: 1em;  
    text-transform: uppercase;
  }
  nav a{
    color: white;
    text-decoration: none;
    /* opacity: 0;
    transition: 250ms ease-in-out 250ms; */
  }
  nav a:hover{
    color: var(--bg-2);
  }
  body::after{ 
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.2;
    background-position: 150%;
    background-image: url(/assets/background-map.png);
    z-index: -50;
    background-size: cover;
    background-repeat: repeat;
    background-position: 150% 0;
  }
  .nav-toggle:checked ~ nav {
    display: block;
    /* transform: (1,1); */
  }
  .breaking-news-container{
    display: hidden;
  }
  .content{
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    margin: auto;      
    gap: 40px;
  }
  .content div{
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    text-align: center;
    margin: 10px;
    padding: 10px;
    color: black;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    min-height: 300px;
  }
  .content div img{
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
  }
  .content div h1{
    margin-bottom: 10px;
  }
  .content div span{
    font-size: 1.5em;
  }
  #main-item {
    box-sizing: border-box;
    width: 100%;
    border-radius: 25px;
    background-color:var(--bg-2);
    color: white;
  }
  
}
/* --------------------------------TABLET SCREENS--------------------------------- */
@media only screen and (min-width: 768px) and (max-width: 1023px){
  header{
    text-align: center;
    display: inline;
  }
  .logo-png{
    position: absolute;
    right: 0;
    padding-right: 30px;
  }
  .nav-toggle{
    display: none;
  }
  .nav-toggle-label{
    position: absolute;
    top:0;
    left:0;
    margin-left: 1em;
    height: 100%;
    display: flex;
    align-items: center;
  }
  .nav-toggle-label span,
  .nav-toggle-label span::before,
  .nav-toggle-label span::after{
    display: block;
    background: white;
    height: 2px;
    width: 2em;
    border-radius: 2px;
    position: relative;
  }
  .nav-toggle-label span::before,
  .nav-toggle-label span::after{
    content: "";
    position:absolute;
  }
  .nav-toggle-label span::before{
    bottom: 8px;
  }
  .nav-toggle-label span::after{
    top: 8px;
  }
  nav{
    position: absolute;
    background-color: var(--bg-4);
    text-align: left;
    top: 100%;
    left: 0;
    width: 100%;
    display: none;
    /* transform: scale(1,0);
    transform-origin: top;
    transition: 250ms ease-in-out; */
  }
  nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
  }
  nav li{
    margin: 1em;  
    text-transform: uppercase;
  }
  nav a{
    color: white;
    text-decoration: none;
    /* opacity: 0;
    transition: 250ms ease-in-out 250ms; */
  }
  nav a:hover{
    color: var(--bg-2);
  }
  body::after{ 
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.2;
    background-position: 150%;
    background-image: url(/assets/background-map.png);
    z-index: -50;
    background-size: cover;
    background-repeat: repeat;
    background-position: 150% 0;
  }
  .nav-toggle:checked ~ nav {
    display: block;
    /* transform: (1,1); */
  }
  .content{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto;
    margin: 0px auto;      
    gap: 40px;
  }
  .content div{
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    text-align: center;
    margin: 10px;
    padding: 10px;
    color: black;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    min-height: 300px;
  }
  .content div img{
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
  }
  .content div h1{
    margin-bottom: 10px;
  }
  .content div span{
    font-size: 1.5em;
  }
  #main-item {
    border-radius: 25px;
    background-color:var(--bg-2);
    color: white;
  }
  
}

/* --------------------------------PC SCREENS------------------------------------- */
@media only screen and (min-width: 1024px){
  header{
    text-align: center;
    display: flex;   
  }
  .logo-png{
    position: absolute;
    right: 0;
    padding-right: 30px;
  }
  nav{
    display: flex;
    align-items: center;
  }
  nav ul{
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 50px;
    margin: 0;
    padding: 2em;
    list-style: none;
  }
  nav li{ 
    text-transform: uppercase;
    display: block;
  }
  nav a{
    color: white;
    text-decoration: none;
    cursor: pointer;
    position: relative;
  }
  .fancy-nav:hover{
    text-decoration: none;
    color: var(--bg-2);
    position:relative;
  }
  .fancy-nav::after{
    color:var(--bg-2);
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3px;
    z-index: -1;
  }
  .fancy:hover::after{
    content: "";
    position: absolute;
    left:0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: currentColor;
    z-index: 1000;
  }
  /* this was an attempt to do fancier falling nav bar */
  /* body::after{ 
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.2;
    background-position: 100%;
    background-image: url(assets/background-map.png);
    background-repeat: repeat;
    z-index: -50;
    background-size: cover;
  } */
  .nav-toggle{
    display: none;
  }
  .nav-toggle:checked ~ nav{
    display: none;
  }
  .content{
    display: grid;
    margin: 0px 200px;
    grid-template-columns: 1fr 1fr;
    padding: 30px;
    gap: 40px;
  }
  .content div{
    background-color: rgba(255, 255, 255, 0.7);
    /* border: 2px solid var(--bg-1); */
    justify-content: center;
    border-radius: 25px;
    text-align: center;
    padding: 20px;
    color: black;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    min-height: 300px;
  }
  .content div img{
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
  }
  .content div h1{
    margin-bottom: 10px;
  }
  .content div span{
    font-size: 1.5em;
  }
  .item-1 {
    grid-row: span 2;
    grid-column: span 1;
  }
  .item-4 {
    grid-row: span 1;
    grid-column: span 2;
  }
  .item-7 {
    grid-row: span 2;
    grid-column: span 1;
  }
  .item-10 {
    grid-row: span 1;
    grid-column: span 2;
  }
 
}